// app global css in SCSS form
@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,500&display=swap");

.brx {
  border: 1px solid red;
}
.bry {
  border: 1px solid green;
}
// ----------  font ----------
.font32 {
  font-size: 32px;
}
.font36 {
  font-size: 36px;
}
.font28 {
  font-size: 28px;
}
.font24 {
  font-size: 24px;
}
.font22 {
  font-size: 22px;
}
.font20 {
  font-size: 20px;
}
.font19 {
  font-size: 19px;
}
.font18 {
  font-size: 18px;
}
.font16 {
  font-size: 16px;
}
.font14 {
  font-size: 14px;
}
.font12 {
  font-size: 12px;
}
.fontU {
  text-decoration: underline;
}
.fontB {
  font-weight: bold;
}
.fontB700 {
  font-weight: 700;
}
.textWhite {
  color: white;
}
////////
body {
  background-color: #010101;
  color: white;
  font-family: "Prompt", sans-serif;
}
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.bgDrop {
  background-color: rgba($color: black, $alpha: 0.8);
}
// dialog
.whiteBtn {
  width: 120px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #00d1ff;
  font-size: 18px;
  color: #00d1ff;
}
.blueBtn {
  width: 120px;
  height: 40px;
  line-height: 40px;
  background: #00d1ff;
  font-size: 18px;
  color: black;
}
